In [60]:
import nltk
import pandas as pd
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rauld\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\rauld\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\rauld\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\rauld\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [52]:
# Guide I followed
# https://www.youtube.com/watch?v=Azjlu4YjHCo

In [61]:
text = "Apple acquired Zoom in China on Wednesday 6th May 2020.\
This news has made Apple and Google stock jump by 5% on Dow Jones Index in the \
United States of America. Tim Cook is shocked!"

# Apple, Zoom, and Google are Organizations (ORG)
# China and the United States of America are locations (LOC)
# Tim Cook is a person (PER)

In [62]:
#tokenize to words
words = nltk.word_tokenize(text)

In [63]:
#Part of speech tagging
pos_tags = nltk.pos_tag(words)

In [64]:
chunks = nltk.ne_chunk(pos_tags, binary=False) #either NE or not NE
    
entities =[]
labels =[]
for chunk in chunks:
    if hasattr(chunk,'label'):
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())
        
entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities","Labels"]
entities_df

          Entities        Labels
0    United States           GPE
1          America           GPE
2  Dow Jones Index        PERSON
3             Zoom        PERSON
4           Google  ORGANIZATION
5         Tim Cook        PERSON
6            China           GPE
7            Apple        PERSON

In [65]:
from nltk.tag import StanfordNERTagger
from nltk.tokenize import word_tokenize
import os
java_path = "C:/Program Files/Java/jdk-13.0.2/bin/java.exe"
os.environ['JAVAHOME'] = java_path

In [66]:
model = './stanford-ner-2020-11-17/classifiers/english.all.3class.distsim.crf.ser.gz'
jar = './stanford-ner-2020-11-17/stanford-ner.jar'

st = StanfordNERTagger(model, jar,encoding='utf-8')

In [67]:
text = "Apple acquired Zoom in China on Wednesday 6th May 2020.\
This news has made Apple and Google stock jump by 5% on Dow Jones Index in the \
United States of America. Tim Cook is shocked!"

tokenized_text = nltk.word_tokenize(text)
classified_text = st.tag(tokenized_text)

netagged_words = classified_text

entities = []
labels = []

from itertools import groupby
for tag, chunk in groupby(classified_text, lambda x:x[1]):
    if tag != "O":
        entities.append(' '.join(w for w, t in chunk))
        labels.append(tag)
        
        
entities_all = list(zip(entities, labels))
entities_unique = list(set(zip(entities, labels))) #unique entities   
entities_df = pd.DataFrame(entities_unique)
entities_df.columns = ["Entities", "Labels"]
entities_df

                   Entities        Labels
0                  Tim Cook        PERSON
1                     China      LOCATION
2                     Apple  ORGANIZATION
3  United States of America      LOCATION
4                    Google  ORGANIZATION